<!-- <h1>This is app forum community site!!</h1>
<table align="center", aria-colspan="2">
    <tr>
        <td>student name:{{name}}</td>
        <td>Student Email: {{email}}</td>
        <td>Student ID: {{id}}</td>

    </tr>
</table> -->

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Student Info</h2>

<table>
  <tr>
    <th>Student Name: {{name}}</th>
    <th>Student CGPA: {{cgpa}}</th>
    <th>Student Gmail: {{email}}</th>
  </tr>

</table>

</body>
</html>

