{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'club/main.css' %}">
</head>

<body>
    <div class="div1">
        <div class="div-top">

        </div>
        <div class="div-p">
            <p class="pp1">QUEST FOR EXCELLENCE</p>
            <p class="pp2"><b><span class="s1">UIU</span></b> <span class="s2"> Help Line</span></p>

        </div>
        <div class="div2">
            <form action="http://lms.uiu.ac.bd/login/index.php">
            <div class="div3">

                <table class="tbl1">
                    <tr>
                        <td class="dsgn1">Name:</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="dsgn2"></td>
                    </tr>
                    <tr>
                        <td class="dsgn1">Email:</td>
                    </tr>
                    <tr>
                        <td><input type="email" class="dsgn2"></td>
                    </tr>
                    <tr>
                        <td class="dsgn1">Student Id:</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="dsgn2"></td>
                    </tr>
                    <tr>
                        <td class="dsgn1">Departmemt:</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="dsgn2"></td>
                    </tr>
                    <tr>
                        <td class="dsgn1">Password:</td>
                    </tr>
                    <tr>
                        <td><input type="password" class="dsgn2"></td>
                    </tr>

                </table>

                <div class="div4">
                    <button type="submit" id="btn1">Sign
                        Up</a></a></a></button>
                </div>
                <p id="p1">Already have an Account? <button type="submit" id="btn2"><a
                            href="signup.html">Sign in</a></a></button></p>

            </div>
        </form>
        </div>

    </div>
    <div class="div-footer">
        <p id="p2"> &copy; 2023 UIU Help Line </p>
        <p id="p3">Find us on <a href="#" id="a1">f</a> </p>


    </div>

</body>

</html>